---
import Container from '@components/general/Container.astro'
---

<Container>
  <div class='bg-base-200 grid grid-cols-2 p-4 h-[40vh] overflow-hidden'>
    <div class='grid place-content-center gap-3'>
      <p class='font-semibold'>Limted time offer</p>
      <h2 class='font-bold text-3xl'>Special Edition</h2>
      <p class='font-light'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad commodi
        corrupti corporis expedita non tenetur totam dolores minima aliquam
        aliquid.
      </p>

      <div>
        <button class='btn btn-primary rounded-none mt-2'>
          Añadir a la cesta
        </button>
      </div>
    </div>

    <div class='h-full overflow-hidden rounded-sm'>
      <img
        src='https://static.vecteezy.com/system/resources/thumbnails/017/323/709/small/close-up-of-a-reptile-on-a-tree-branch-set-against-a-stunning-hd-natural-background-wallpaper-photo.jpg'
        class='w-full h-full rounded-lg object-cover'
      />
    </div>
  </div>
</Container>
