---
import Container from '@components/general/Container.astro'
---

<Container className='py-10'>
  <h2 class='text-4xl text-center mb-10 font-bold'>Colecciones Principales</h2>

  <div class='gap-4 flex justify-between'>
    <article class='relative h-[500px] w-[400px]'>
      <div class='absolute top-0 left-0 w-full h-full bg-base-200'>
        <img
          src='https://picsum.photos/id/1003/1200/800'
          alt='Imagen de portada'
          class='w-full h-full object-cover'
        />

        <div class='absolute top-0 left-0 w-full h-full bg-black/50'></div>
      </div>
      <div
        class='absolute bottom-6 left-6 z-10 text-base-100 flex flex-col gap-3'
      >
        <h3 class='font-semibold text-2xl'>20% off on all products</h3>
        <p class='text-sm'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
        </p>
        <div>
          <button class='btn rounded-none'>Ver Collection</button>
        </div>
      </div>
    </article>
    <article class='relative h-[500px] w-[400px]'>
      <div class='absolute top-0 left-0 w-full h-full bg-base-200'>
        <img
          src='https://picsum.photos/id/1003/1200/800'
          alt='Imagen de portada'
          class='w-full h-full object-cover'
        />

        <div class='absolute top-0 left-0 w-full h-full bg-black/50'></div>
      </div>
      <div
        class='absolute bottom-6 left-6 z-10 text-base-100 flex flex-col gap-3'
      >
        <h3 class='font-semibold text-2xl'>20% off on all products</h3>
        <p class='text-sm'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
        </p>
        <div>
          <button class='btn rounded-none'>Ver Collection</button>
        </div>
      </div>
    </article>
    <article class='relative h-[500px] w-[400px]'>
      <div class='absolute top-0 left-0 w-full h-full bg-base-200'>
        <img
          src='https://picsum.photos/id/1003/1200/800'
          alt='Imagen de portada'
          class='w-full h-full object-cover'
        />

        <div class='absolute top-0 left-0 w-full h-full bg-black/50'></div>
      </div>
      <div
        class='absolute bottom-6 left-6 z-10 text-base-100 flex flex-col gap-3'
      >
        <h3 class='font-semibold text-2xl'>20% off on all products</h3>
        <p class='text-sm'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
        </p>
        <div>
          <button class='btn rounded-none'>Ver Collection</button>
        </div>
      </div>
    </article>
  </div>
</Container>
