---
import Container from '@components/general/Container.astro'
---

<Container className='py-10 flex flex-col gap-10'>
  <div class='flex flex-col md:flex-row gap-4 items-center'>
    <div class='sm:min-w-[300px] max-h-[400px] md:max-h-full'>
      <img
        src='https://r-charts.com/es/miscelanea/procesamiento-imagenes-magick_files/figure-html/importar-imagen-r.png'
        alt='Imagen de portada'
        class='w-full h-full object-contain'
      />
    </div>

    <div class='md:pl-20'>
      <h2 class='text-4xl font-bold mb-4'>Unique Products</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
        tenetur, consectetur omnis velit tempora accusantium autem ex labore
        cumque modi non ad fugiat minima nisi quibusdam optio harum officiis?
        Fugit. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Doloribus, saepe perspiciatis! Dicta quam nihil alias adipisci iure.
        Maiores, earum nihil, cumque exercitationem aperiam quis, minima eum
        veniam natus reprehenderit iste.
      </p>
    </div>
  </div>

  <div class='flex flex-col-reverse md:flex-row gap-4 items-center'>
    <div class='md:pr-20'>
      <h2 class='text-4xl font-bold mb-4'>Unique Products</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
        tenetur, consectetur omnis velit tempora accusantium autem ex labore
        cumque modi non ad fugiat minima nisi quibusdam optio harum officiis?
        Fugit. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Doloribus, saepe perspiciatis! Dicta quam nihil alias adipisci iure.
        Maiores, earum nihil, cumque exercitationem aperiam quis, minima eum
        veniam natus reprehenderit iste.
      </p>
    </div>

    <div class='sm:min-w-[300px] max-h-[400px] md:max-h-full'>
      <img
        src='https://img-cdn.pixlr.com/image-generator/history/65bb506dcb310754719cf81f/ede935de-1138-4f66-8ed7-44bd16efc709/medium.webp'
        alt='Imagen de portada'
        class='w-full h-full'
      />
    </div>
  </div>
</Container>
