<section class='grid md:grid-cols-2 gap-4'>
  <div>
    <div class='aspect-square'>
      <img
        src='https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'
        alt='Imagen de producto'
        class='w-full h-full object-cover'
      />
    </div>
  </div>

  <div>
    <div class='flex flex-col gap-1'>
      <p class='text-sm font-semibold'>Armchair, Chair, Recliner</p>
      <h1 class='text-2xl font-bold'>Wooden Rocking Chair</h1>

      <div>
        <span class='font-semibold text-xl'>$100.000</span>
        <span>Send Free</span>
      </div>

      <p>Stock: 10 available</p>

      <p class='text-sm'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
        at quod accusamus, incidunt doloremque nulla dolorum fugiat voluptate
        rerum eius voluptatibus aliquam quae voluptatum commodi sequi sunt atque
        non vitae!
      </p>
    </div>

    <div class='flex gap-5 my-3'>
      <div class='flex [&>*]:size-[3rem]'>
        <button class='border'> - </button>
        <div class='border-y flex items-center justify-center'>
          <span>1</span>
        </div>
        <button class='border'> + </button>
      </div>

      <div>
        <button class='btn btn-accent rounded-none'>Add to cart</button>
      </div>
    </div>

    <hr />

    <div class='mt-3 text-center font-semibold'>
      Paga cuando recibas tu pedido
    </div>
  </div>
</section>
