<section class='mt-6 flex gap-4'>
  <div class='border-r flex flex-col max-w-[150px] w-full'>
    <button class='border border-l-0 border-r-2 h-10'>Description</button>
    <button class='h-10'>Reviews</button>
  </div>

  <div class='flex-1'>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum totam,
      consequuntur ullam rerum ratione, atque quo natus officiis ea nesciunt, at
      rem culpa! Sint, adipisci earum voluptas voluptatibus quibusdam nesciunt.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptas
      dignissimos praesentium officiis. Saepe ipsum illo numquam ea dicta
      consectetur deleniti, aut, rerum aperiam cupiditate voluptates molestias
      reprehenderit, atque temporibus.
    </div>

    <div class='hidden'>
      <form action=''>
        <div class='flex gap-2'>
          <input type='text' placeholder='Buscar...' />
          <button class='btn btn-primary'>Buscar</button>
        </div>
      </form>
    </div>
  </div>
</section>
