---
import Container from '@components/general/Container.astro'
import SkeletonProducts from '@components/general/SkeletonProducts.astro'
import DeferFeaturedProducts from '@components/home/DeferFeaturedProducts.astro'
---

<Container>
  <h2 class='text-3xl font-bold my-6'>Related Products</h2>

  <div class='mt-10 grid sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4'>
    <DeferFeaturedProducts server:defer>
      <SkeletonProducts slot='fallback' longitude={3} />
    </DeferFeaturedProducts>
  </div>
</Container>
