---
import Container from '@components/general/Container.astro'
import { Menu, ShoppingCart } from 'lucide-react'
---

<div
  class='fixed top-0 left-0 w-full z-50 h-[8vh] bg-base-100 flex items-center border-b-[1px] border-base-300'
>
  <Container className='flex items-center gap-4 w-full justify-between'>
    <a href='/' class='font-semibold'> Kelo Stone Lab </a>

    <nav class='flex-1 items-center justify-between hidden md:flex'>
      <div class='flex gap-2'>
        <a href='/products'>Productos</a>
        <a href='/collections'>Colecciones</a>
      </div>

      <div class='flex gap-2'>
        <a href='/about'>Sobre Nosotros</a>
        <a href='/contact'>Contacto</a>
      </div>
    </nav>

    <div class='flex items-center gap-1'>
      <a href='/cart' class='btn btn-ghost btn-square'>
        <ShoppingCart size={20} client:load />
      </a>

      <button
        id='button-toggle'
        class='flex md:hidden btn btn-ghost btn-square'
      >
        <Menu client:load />
      </button>
    </div>
  </Container>
</div>
